body {
  background-color: lightblue;
}


.title {
    background-color:#e4ccee;
    margin: 100px 50px 100px 50px;
    padding: 50px;

}

.subtitle {
  background-color: lightcoral;
  margin-block: 100px; /*hueco que le quiero dejar arriba y abajo*/
  margin-inline: 50px; /*hueco que le quiero dejar de izquierda a derecha*/
  padding-block: 100px;
  padding-left: 20px;
}

.image {
  width: 700px;
}

.image-winnie {
  width: 200px;
}

.box {
  box-sizing: border-box;
  background-color: red;
  width: 400px;
  height: 400px;
  padding: 100px;
  border: solid 20px black;
}

.other_box {
  width: 100px;
  height: 50px;
  background-color: cadetblue;
  
}
